
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,200;1,200&display=swap');

*{
  font-family:"Ubuntu Sans";
}

body {
  margin: 0;
  font-family:"Ubuntu Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
